.container {
    display: flex;
    flex-direction: column;
    text-decoration: center;

    span {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    img {
        width: 20px;
    }
}

.skillList {

}